.clients {
	background-color: #3b3b3b;
	color: #fff;
}

.slidey {
	display: flex;
	flex-direction: row;
	position: relative;
	justify-content: space-around;
	bottom: -100px;
	opacity: 1;
	transition: opacity .4s ease;
}

.slidey-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: no-wrap;
}

.slidey-image {
	background-color: #4a4a4a;
	border-width: 0 1px 0 0;
	border-color: lightgrey;
	border-style: solid;
}

.slidey-image-last {
	border-style: none;
	background-color: #4a4a4a;
}

.bill-wrapper {
	width: 20%;
	margin: 0 auto;
}

.bill {
	display: flex;
	justify-content: space-around;
	content-align: center;
}

.bill h3 {
	margin: 0;
}

.bill p {
	padding: 0;	
}



@media (max-width: 700px) {
		.slidey {
			opacity: 0;
		}		
}

@media (max-width: 640px) {
		.slidey {
			display: none;
		}		
}